.box_weather_data_and_stats {
  display: flex;
  align-items: center;
  margin-top: 50px;
  .current_data {
    display: flex;
    width: 50%;
    text-align: center;
    border-right: 1px solid rgb(208, 208, 208);
    .left_box {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      div {
        margin-right: 10px;
        p:first-letter {
          text-transform: capitalize;
        }
      }
    }
    .right_box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      div {
        margin-left: 10px;
        p:first-child {
          font-size: 58px;
          margin: 18px 0 35px 0;
        }
      }
    }
  }
  .data_for_all_day {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .box_flex {
      text-align: center;
      div:first-child {
        margin-bottom: 40px;
      }
      p {
        font-size: 14px;
        color: rgb(206, 204, 204);
      }
      .data_fs {
        font-size: 18px;
        color: white;
      }
    }
  }
}

// responsive

@media (max-width: 1200px) {
  .box_weather_data_and_stats {
    .current_data {
      width: 35%;
    }
    .data_for_all_day {
      width: 65%;
    }
  }
}

@media (max-width: 768px) {
  .box_weather_data_and_stats {
    flex-direction: column;
    .current_data {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid rgb(208, 208, 208);
    }
    .data_for_all_day {
      width: 100%;
      border-bottom: 1px solid rgb(208, 208, 208);
      .box_flex {
        .data_fs {
          font-size: 16px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}
