.box_todays_weather {
  margin-top: 100px;
  .order_box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    .small_box_weather {
      background-color: rgb(32, 92, 182);
      width: 12%;
      line-height: 50%;
      img {
        width: 70%;
      }
    }
  }
}
