header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .grid {
  width: 33%;
}

header input {
  border-radius: 20px;
  padding: 8px;
  text-align: center;
}

header .date {
  line-height: 0;
}

header .cityName {
  text-transform: uppercase;
  font-size: 26px;
}

header .lat_lon {
  text-transform: uppercase;
  text-align: center;
}

header .searchBox {
  text-align: right;
}

@media (max-width: 1200px) {
  header .cityName {
    font-size: 22px;
  }
  header .lat_lon {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  header .grid {
    width: 100%;
    text-align: center;
  }
  header .searchBox input {
    width: 100%;
  }
}

.box_weather_data_and_stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.box_weather_data_and_stats .current_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  text-align: center;
  border-right: 1px solid #d0d0d0;
}

.box_weather_data_and_stats .current_data .left_box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box_weather_data_and_stats .current_data .left_box div {
  margin-right: 10px;
}

.box_weather_data_and_stats .current_data .left_box div p:first-letter {
  text-transform: capitalize;
}

.box_weather_data_and_stats .current_data .right_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}

.box_weather_data_and_stats .current_data .right_box div {
  margin-left: 10px;
}

.box_weather_data_and_stats .current_data .right_box div p:first-child {
  font-size: 58px;
  margin: 18px 0 35px 0;
}

.box_weather_data_and_stats .data_for_all_day {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.box_weather_data_and_stats .data_for_all_day .box_flex {
  text-align: center;
}

.box_weather_data_and_stats .data_for_all_day .box_flex div:first-child {
  margin-bottom: 40px;
}

.box_weather_data_and_stats .data_for_all_day .box_flex p {
  font-size: 14px;
  color: #cecccc;
}

.box_weather_data_and_stats .data_for_all_day .box_flex .data_fs {
  font-size: 18px;
  color: white;
}

@media (max-width: 1200px) {
  .box_weather_data_and_stats .current_data {
    width: 35%;
  }
  .box_weather_data_and_stats .data_for_all_day {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .box_weather_data_and_stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box_weather_data_and_stats .current_data {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #d0d0d0;
  }
  .box_weather_data_and_stats .data_for_all_day {
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
  }
  .box_weather_data_and_stats .data_for_all_day .box_flex .data_fs {
    font-size: 16px;
  }
  .box_weather_data_and_stats .data_for_all_day .box_flex p {
    font-size: 12px;
  }
}

.box_todays_weather {
  margin-top: 100px;
}

.box_todays_weather .order_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.box_todays_weather .order_box .small_box_weather {
  background-color: #205cb6;
  width: 12%;
  line-height: 50%;
}

.box_todays_weather .order_box .small_box_weather img {
  width: 70%;
}

@media (max-width: 768px) {
  .box_todays_weather {
    margin-top: 0;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 15px;
  }
  .box_todays_weather .order_box .small_box_weather {
    width: 18%;
  }
}

.next_7_box {
  margin-top: 100px;
}

.next_7_box .next_7_container a {
  text-decoration: none;
  color: white;
}

.next_7_box .next_7_container .next_7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #205cb6;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .next_7_box {
    margin-top: 0;
  }
  .next_7_box .next_7_container {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .next_7_box .next_7_container a {
    width: 18%;
  }
  .next_7_box .next_7_container .next_7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .next_7_box .next_7_container .next_7 img {
    width: 80%;
  }
  .next_7_box .next_7_container .next_7 div p {
    margin: 2px 0;
  }
}

.details_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.details_container .box_img {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 20px;
  /* line-height: 8px; */
}

.details_container .box_img p:first-letter {
  text-transform: capitalize;
}

.details_container .box_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
}

.details_container .box_details .box_max_min {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details_container .box_details_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  text-align: center;
}

.details_container .box_details_2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details_container .box_details_2 div p {
  width: 20%;
}

.details_container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  font-size: 26px;
  text-align: center;
}

body {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #2a34b2), color-stop(100%, #226edd), to(#1585cb));
  background: linear-gradient(#2a34b2 10%, #226edd 100%, #1585cb 100%);
}

body .container {
  width: 80%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */