header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

header input {
  border-radius: 20px;
  padding: 8px;
  text-align: center;
}

header .locationAndDate {
  line-height: 5px;
}

header .cityName {
  text-transform: uppercase;
  font-size: 26px;
}

header .lat_lon {
  text-transform: uppercase;
}

.box_weather_data_and_stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.box_weather_data_and_stats .current_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  text-align: center;
  border-right: 1px solid #d0d0d0;
}

.box_weather_data_and_stats .current_data .left_box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box_weather_data_and_stats .current_data .left_box div {
  margin-right: 10px;
}

.box_weather_data_and_stats .current_data .left_box div p:first-letter {
  text-transform: capitalize;
}

.box_weather_data_and_stats .current_data .right_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}

.box_weather_data_and_stats .current_data .right_box div {
  margin-left: 10px;
}

.box_weather_data_and_stats .current_data .right_box div p:first-child {
  font-size: 58px;
  margin: 18px 0 35px 0;
}

.box_weather_data_and_stats .data_for_all_day {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.box_weather_data_and_stats .data_for_all_day .box_flex {
  text-align: center;
}

.box_weather_data_and_stats .data_for_all_day .box_flex div:first-child {
  margin-bottom: 40px;
}

.box_weather_data_and_stats .data_for_all_day .box_flex p {
  font-size: 14px;
  color: #cecccc;
}

.box_weather_data_and_stats .data_for_all_day .box_flex .data_fs {
  font-size: 18px;
  color: white;
}

.box_todays_weather {
  margin-top: 100px;
}

.box_todays_weather .order_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.box_todays_weather .order_box .small_box_weather {
  /* background: linear-gradient(
        rgba(30, 96, 192, 1) 20%,
        rgba(34, 110, 221, 1) 100%,
        rgba(21, 133, 203, 1) 100%
      ); */
  background-color: #205cb6;
  width: 12%;
  line-height: 50%;
}

.box_todays_weather .order_box .small_box_weather img {
  width: 70%;
}

.next_7_container {
  margin-top: 100px;
}

.next_7_container .next_7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* background: linear-gradient(
      rgba(30, 96, 192, 1) 20%,
      rgba(34, 110, 221, 1) 100%,
      rgba(21, 133, 203, 1) 100%
    ); */
  background-color: #205cb6;
  margin-top: 10px;
}

body {
  color: #ffffff;
  background: #2a34b2;
  /* background: linear-gradient(
    rgba(42, 52, 178, 1) 0%,
    rgba(31, 93, 191, 1) 35%,
    rgba(21, 133, 203, 1) 100%
  ); */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #2a34b2), color-stop(100%, #226edd), to(#1585cb));
  background: linear-gradient(#2a34b2 10%, #226edd 100%, #1585cb 100%);
}

body .container {
  width: 80%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */