@import "../header/header";
@import "../main_content/styleCurrentTemp";
@import "../main_content/todayWeather";
@import "../variables/variables";

body {
  color: $fontColor;
  background: rgb(42, 52, 178);
  background: linear-gradient(
    rgba(42, 52, 178, 1) 0%,
    rgba(31, 93, 191, 1) 35%,
    rgba(21, 133, 203, 1) 100%
  );
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
