header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  .grid {
    width: 33%;
  }
  input {
    border-radius: 20px;
    padding: 8px;
    text-align: center;
  }
  .locationAndDate {
  }
  .date {
    line-height: 0;
  }
  .cityName {
    text-transform: uppercase;
    font-size: 26px;
  }
  .lat_lon {
    text-transform: uppercase;
    text-align: center;
  }
  .searchBox {
    text-align: right;
  }
}

// responsive

@media (max-width: 1200px) {
  header {
    .cityName {
      font-size: 22px;
    }
    .lat_lon {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    .grid {
      width: 100%;
      text-align: center;
    }
    .searchBox {
      input {
        width: 100%;
      }
    }
  }
}
